* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #e43f5a;
  border-top: 0.75rem solid #6d8299;
  padding-bottom: 4.5rem;
}

.navbar {
  margin: 0 0 4.5rem;
  background-color: #e43f5a;
}

.navbar-brand {
  font-family: proxima-nova, sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0;
}

.logo {
  width: 50%;
  height: auto;
}

#social {
  padding: 2rem 0 2rem;
  /* background-color: #ffe194; */
}

.social-h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
}
